.icon-add{
    width: 16px;
    height: 16px;
    background-image: url(../../assets/icon/add.png);
    background-position: center;
    background-repeat:no-repeat ;
}
.icon-next{
    width: 16px;
    height: 16px;
    background-image: url(../../assets/icon/btn-next-page.svg);
    background-position: center;
    background-repeat:no-repeat ;
}
.icon-prev{
    width: 16px;
    height: 16px;
    background-image: url(../../assets/icon/btn-prev-page.svg);
    background-position: center;
    background-repeat:no-repeat ;
}
.icon-first-page{
    width: 16px;
    height: 16px;
    background-image: url(../../assets/icon/btn-firstpage.svg);
    background-position: center;
    background-repeat:no-repeat ;
}
.icon-last-page{
    width: 16px;
    height: 16px;
    background-image: url(../../assets/icon/btn-lastpage.svg);
    background-position: center;
    background-repeat:no-repeat ;
}
.icon-delete{
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url(../../assets/icon/transparent-bin-icon-delete-icon-empty-icon-5dc7032cac0724.6832684215733235647046.png);
    background-position: center;
    background-repeat:no-repeat ;
}
.icon-save{
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url(../../assets/icon/document-online.png);
    background-position: center;
    background-repeat:no-repeat ;

}