.content{
    position: absolute;
    top: 49px;
    left: 226px;
    width: calc(100% - 226px);
    height: calc(100vh - 49px);
    background-color: #ffffff;
    

}
.content .header-content{
    padding: 16px;
    display: flex;
    
}
.content .header-content .page-title{
    font-size: 20px;
    font-family: google-san-bold;
}
.content .header-content .page-feature .button .button-logo{
    padding-right: 8px;
}
.content .header-content .page-feature .button{
    position:absolute;
    right: 16px;
    top: 8px;
    margin-bottom: 8px ;
    align-items: center;
}
.filter-bar{
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
}

.filter-bar .filter-left{
padding: 16px;
}

.filter-bar .filter-left .text-field{
    background-image: url(../../content/icon/search.png);
    background-position: 16px center;
    background-repeat:no-repeat ;
    padding-left: 40px;


}

.filter-bar .filter-left .filter-select{
    height: 40px;
    color: #bbbbbb;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin: 16px;
    padding-left: 15px;
    padding-right: 15px;
}
.filter-bar .filter-left .filter-selec:focus{
    border: 1px solid #019160
}
.filter-bar .filter-right{
position: absolute;
right: 16px;
background-color: #ffffff;
}

.button-refresh{
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb;
    outline: none;
    background-color: #ffffff;
    border-radius: 4px;
    background-image: url(../../content/icon/refresh.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.button-refresh:hover{
    background-color: #E9EBEE;  

}
.grid{
    width: 100%;
    height: calc( 100vh - 206px);
    position: absolute;
    left: 16px;
    right: 16px;
    overflow: scroll;
    padding-right: 24px;
}
.paging-bar{
    display: flex;
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0px;
    align-content: center;
    justify-content: center;
}
.grid th{
    font-family: google-san-bold;
    height: 48px;
    background-color: #ffffff;
    padding-left: 16px;
}
.grid tr{
    height: 48px;
    white-space: nowrap;

}
.grid table{
    padding-right: 16px;
}
.grid td{
    padding-left: 16px;
    white-space: nowrap;
}

.grid thead {
    position: sticky;
    top: 0;
}
.grid tr:nth-child(odd){
    background-color: #E9EBEE;
}
.grid .scroll-table{
    overflow: scroll;
}
.paging-bar .paging-left{
    height: 56px;
    padding: auto;
    padding-left: 16px;
    position: absolute;
    left: 16px;
    text-align: center;
    
}
.paging-bar .paging-center{
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-self: center;
   
}

.paging-bar .paging-button{
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.paging-bar .paging-button:hover{
    background-color: #bbbbbb;
}
.paging-bar .paging-center .button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto 5px;
}
.paging-bar .paging-right{
    height: 56px;  
    position: absolute;
    right: 16px;
    text-align: center;
    
}