.header{
    position: absolute;
    left: 226px;
    background-color: #ffffff;
    height: 48px;
    width: calc(100% - 226px) ;
    display: flex;
    border-bottom: 1px solid #bbbbbb;
}

.header .header-left{
    padding-left: 24px;
    display: flex;
    /* align-items: center; */
}

.header .header-left .header-left-name{
    z-index: 6;
    margin-top: 3px;
}
.header .header-left .header-left-name select{
    border: none;
    font-family: google-san-bold;
    padding-right: 10px;
}
.header .header-right{
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 16px;

}

.header .header-right .header-right-option{
    height: 20px;
    padding: 14px 0px 14px 0px;
    align-self: center;
}

.header .header-right .header-right-pic{
    height: 30px;
    padding: 6px 16px 6px 0px;
    align-self: center;
}
.header .header-right .header-right-name{
    padding-right: 16px; ;
    align-self: center;
}
.header-left-name .dropDown{
    border: none;
}