.button{
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    text-align:center;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    border:none;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.button:hover{
background-color: #2FBE8E;

}

.button:active{
    background-color: #01B075;

}

.button-pagination {
    background-color: #E9EBEE;
    color: #000;
    border: 1px solid #bbb;
    font-weight: bold;
}

.button-pagination.active {
    background-color: #2FBE8E;
    color: #fff;
}

.button-pagination:hover {
    background-color: #bbb;
    color: #000;
}


